<!-- including header -->
<%- include("partials/header") -%>

  <div class="container">
    <h1 class="display-4 mt-2 mb-3">About</h1>
    <p>
      At our currency exchange site, we understand the importance of reliable and efficient currency exchange services.
      Our team is dedicated to providing you with the most up-to-date and accurate information on exchange rates from
      around the world, so you can make informed decisions when it comes to international transactions.
    </p>
    <p>
      We believe that currency exchange should be simple and accessible to everyone, which is why we've designed our
      platform to be user-friendly and intuitive. Whether you're a seasoned traveler or a first-time international
      buyer, we're here to make the process as easy as possible.
    </p>
    <p>
      With a commitment to excellence in customer service and a passion for making international commerce accessible to
      all, our team is proud to offer a comprehensive range of currency exchange services. From real-time exchange rate
      updates to quick and easy conversions, we're here to help you navigate the world of international finance with
      confidence.
    </p>
  </div>

  <!-- footer -->
  <%- include("partials/footer") -%>