<!-- including header -->
<%- include("partials/header") -%>

<div class="container">
  <h1 class="display-4 mt-2">Contact Us</h1>
  <p class="mt-4">
    We're always here to help! If you have any questions or concerns, please don't 
    hesitate to reach out to our friendly customer support team. You can contact us via 
    phone, email, or through our online contact form. We strive to provide prompt and personalized
     assistance to ensure your experience with our currency exchange site is a positive one. Thank
      you for choosing us as your go-to source for currency exchange needs.
  </p>
  <p>
    <button type="button" class="btn btn-primary">
      <a href="mailto:mr.palashbharati@gmail.com" target="_blank" style="text-decoration: none; color: white;">
        Contact
      </a>
    </button>
  </p>
</div>

<!-- footer -->
<%- include("partials/footer") -%>