.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.footer{
    text-align: center;
    padding: 120px 30px;
    background-color: #fff;
}

.f-icon{
    margin: 0 10px 20px;
}

.nav-link{
    color: black;
}
  